extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 文件上传：
  | 选择一个文件上传: 
  br
  form(action='./yamlToJson/upload', method='post', enctype='multipart/form-data')
    input(type='file', name='file', size='50')
    br
    input(type='submit', value='上传文件')